<div>
  <mat-card>
  <form [formGroup]="updateForm" (ngSubmit)="onAddPost()">

    <mat-form-field>
      <input
       type="text"
       matInput
       placeholder="Enter Title"
       formControlName="title"
      >
      <mat-error *ngIf="title.invalid && (title.dirty || title.touched)">
          <mat-error *ngIf="title.errors.required">
              Please Enter Title
          </mat-error>
          <mat-error *ngIf="title.errors.minlength">
              The length is minimal
          </mat-error>
      </mat-error>
    </mat-form-field>

    <div>
      <button mat-stroked-button type="button" color="accent" (click)="pickImg.click()">Select Image</button>
      <input type="file" #pickImg (change)="onImagePick($event)"/>
      <div class="image" *ngIf="previewImage !== '' && previewImage && updateForm.get('image').valid ">
        <img [src]="previewImage" [alt]="updateForm.get('title')">
      </div>
    </div>

    <mat-form-field>
      <textarea
        matInput
        placeholder="Enter data"
        formControlName="description"
      ></textarea>
      <mat-error *ngIf="description.invalid && (description.dirty || description.touched)">
        <mat-error *ngIf="title.errors.required">
            Please Enter Description
        </mat-error>
    </mat-error>
    </mat-form-field>

    <br>
    <button
      type="submit"
      [disabled]="updateForm.pristine || updateForm.invalid"
      mat-raised-button color="accent"
      >Save post</button>
  </form>
  </mat-card>
</div>
