mat-form-field{
  width:100%;
}
:host{
  display: block; margin-top:10px;
}
mat-card{
  background-color: #999;
}
input,textarea{
  background-color: inherit;
}

input[type="file"]{
  visibility: hidden;
}

.image{
  width: 60%; margin-top:20px; margin-bottom:20px;
  height:200px;
}
img{
  width: 100%; height:inherit;
}
